.portrait{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20rem;
}

.portrait img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.name p{
    margin-top: -17rem;
    padding-left: 44rem;
}

.name h1{
    margin-left: 35rem;
    margin-top: 2rem;
}